{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Detail - IRWA Search Engine</title>
</head>
<p class="text-dark"> <b>{{tweet.title}}</b> (id: {{tweet.id}}) </p>
<p> {{tweet.description}} </p>
<p style=text-align:center> <b> Likes: </b> {{tweet.likes}} <b> - Retweets: </b> {{tweet.retweets}} <b> - Number of Hashtags: </b> {{tweet.hashtags}}</p>
<p style=text-align:center> <a href = {{tweet.url}}> {{tweet.url}}</a> - <a> <b> Date: </b>{{tweet.doc_date}} </a></p>

{% endblock %}
