{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Detail - IRWA Search Engine</title>
</head>
<div style="border:1px solid #e1e8ed; border-radius:5px; padding:10px; font-family:Arial, sans-serif; margin-bottom:10px;">
    <div style="display:block ruby">
        <img src="{{ tweet.profile_pic }}" style="border-radius: 50%; width: 30px;">
        <p> {{tweet.username}}</p>
    </div>
    <p class="text-dark" style="margin:0; padding-bottom:10px;"> 
        <b>{{tweet.title}}</b> (id: {{tweet.id}})
        <br> {{tweet.description}} 
    </p>
    <p style="text-align:center; margin:10px 0;"> 
        <b> Likes: </b> {{tweet.likes}} 
        <b> - Retweets: </b> {{tweet.retweets}} 
        <b> - Number of Hashtags: </b> {{tweet.hashtags}}
    </p>
    <div style="display: flex; justify-content: space-between;">
        <p style="margin:0;"> 
            <a href = {{tweet.url}}> {{tweet.url|truncate(50, True, "...")}}</a>
        </p>
        <p style="text-align:right; margin:0;"> 
            <b> Date: </b>{{tweet.doc_date}}
        </p>
    </div>
</div>

{% endblock %}
